.grid-example .row {
    margin-bottom: 1rem;
}

.grid-example .row:last-child {
    margin-bottom: 0;
}

.grid-example {
    border: 1px solid grey;
    padding: 16px;
    border-radius: 3px;
    background: #e6efff;
}

.grid-example .row [class*="col-"] {
    border: 1px solid #185abc;
    background: #fff;
    padding: 10px 0;
    text-align: center;
    border-radius: 3px;
    color: #185abc;
    margin-bottom: 0.3rem;
}